<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">

    <div class="pagination" th:with="baseUrl=${URLparameter}">
                <span th:if="${pager.indexOutOfBounds()}" id="noPost">
                    There is no posts yet :( <a class="homeLink" th:href="@{/index(page=1)}">Home</a>.
                </span>

        <span th:if="${pager.hasPrevious()}">
                    <a class="pageLink"
                       th:href="@{${baseUrl}(page=1)}">&laquo; first</a>
                    <a class="pageLink"
                       th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}">previous</a>
                </span>

        <span th:if="${pager.getTotalPages() > 1}"
              th:text="'Page ' + ${pager.getPageIndex()} + ' of ' + ${pager.getTotalPages()}" id="pages">
                </span>

        <span th:if="${pager.hasNext()}">
                    <a class="pageLink"
                       th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}"> next</a>
                    <a class="pageLink"
                       th:href="@{${baseUrl}(page=${pager.getTotalPages()})}">last &raquo;</a>
                </span>
    </div>

</div>
</body>
</html>