.post {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    outline: 2px solid grey;
    height: 200px;
    padding: 10px;
    padding-left: 50px;
    background-color: #006633;
}

.post:hover {
    outline: 4px solid grey;
}

.post_link {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.post_link:hover {
    transition: 300ms;
    opacity: 7;
    color: black;
}

.post_link:focus {
    transition: 300ms;
    opacity: 7;
    color: grey;
}

.main_container {
    margin-top: -20px;
    margin-right: -10px;
    margin-bottom: 10px;
    background-color: white;
    height: 120%;
    padding: 20px;
}

.post_position {
    font-family: "Arial", sans-serif;
}

#noPost {
    text-align: center;
    font-family: "Rubik", bold;
    font-size: 30px;
    color: #006622
}

a {
    text-decoration: none;
    color: #006622;
}

a:focus {
    color: #005a22;
}

.pageLink {
    background-color: #006622;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

#pages {
    font-family: "Ubuntu", bold;
    color: #006622;
    margin-right: 10px;
    margin-left: 10px;
}

.main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}