form.form {
    padding: 20px;
    margin: 50px auto;
    border: 5px solid #006622;
    border-radius: 20px;
    background-color: #006622;
    width: 100%;
    max-width: 400px;
    font-family: 'Ubuntu', sans-serif;
    color: #f5f0e1;
}

.form-control {
	height: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.form-control:focus {
	outline: 0;
}

.alert {
	text-align: center;
	margin-top: -5px;
	margin-bottom: 10px;
	color: #ff1414
}

#username {
	margin-left: 39px;
}

#passwords {
	margin-left: 43px;
}

#phone_number {
	margin-left: 5px;
}

#email {
	margin-left: 72px;
}

#first_name {
	margin-left: 35px;
}

#middle_name {
	margin-left: 17px;
}

#last_name {
	margin-left: 35px;
}

#age {
	margin-left: 81px;
}

.form-group {
	justify-content: center;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 20px;
	height: 30px;
	width: 70px;
	font-family: 'Ubuntu', sans-serif;
}

.success_message {
	text-align: center;
	margin-bottom: 10px;
}

.btn:hover {
	transition: 300ms;
	background-color: snow;
}

.btn:focus {
	transition: 300ms;
	background-color: grey;
}