h1 {
    justify-content: center;
    display: flex;
    font-family: "Rubik", sans-serif;
    color: #006622;
}

h2 {
    justify-content: center;
    display: flex;
    font-family: "Rubik", sans-serif;
    color: #006622;
}