body {
    margin: 0 auto;
    width: 100%;
}

.header {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background-color: #006622	;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
}

.navbar-header {
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Ubuntu', bold;
    color: #f5f0e1;
    text-decoration: none;
    opacity: 0.85;
}

.navbar-header:hover {
    opacity: 1
}


.link {
    display: flex;
    margin-left: 50px;
    text-decoration: none;
    color: #f5f0e1;
    opacity: .85;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.link:hover {
    opacity: 1;
}

.list {
    margin-top: 7px;
    display: flex;
}

#search {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    background-color: #f5f0e1;
    color: #1e3d59;
    font-size: 20px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    box-sizing: border-box;
    outline: none;
    display: block;
}

#search:focus {
    border: 2px solid grey;
}

#btn {
    color: #006622;
}

.fas {
    color: #006622;
    outline: none;
}
