h1 {
    text-align: center;
    font-family: "Rubik", sant-serif;
    color: #006622;
}

h2 {
    text-align: center;
    font-family: "Ubuntu", bold;
    color: #006622;
    opacity: 6;
}

h3 {
    text-align: center;
    margin-top: 2px;
    font-family: "Rubik", sans-serif;
}

hr {
    max-width: 700px;
    color: grey;
    opacity: 40%;
}

#position {
    text-align: center;
    color: grey;
    opacity: 70;
    font-family: "Ubuntu", bold;
    margin-top: -20px;
}

#age {
    text-align: center;
    font-family: "Ubuntu", sant-serif;
    color: #006622;
    opacity: 90%;
}

.text {
    margin-top: 20px;
    font-family: "Arial", sant-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
}

.contacts_container {
    margin-top: 20px;
    background-color: #006622;
    height: 100px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
    color: snow;
}

.contact {
    text-align: center;
    font-family: "Arial", sans-serif;
}

.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-danger {
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: #006622;
}

.btn-danger:hover {
    transition: 300ms;
    background-color: snow;
}

.btn-danger:focus {
    transition: 300ms;
    background-color: grey;
}
