<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style_index.css">
</head>
<body>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header"></div>
<div class="main">
    <div th:each="post : ${posts}" class="post">
        <div class="main_container">
            <a th:text="${post.getUser().getLastName() + ' ' + post.getUser().getFirstName() + ', ' + post.getUser().getAge()}" th:href="@{'/post/' + ${post.getId()}}" class="post_link">SossdSossdSossdSossd SossdSossdSossdSossd, 23</a>
            <div th:text="${post.getPosition()}" class="post_position">Toilet Director</div>
        </div>
    </div>
</div>
<div th:replace="fragments/pagination"></div>
</body>
</html>
