<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <link rel="stylesheet" href="/css/style_post.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header :: header-css"></div>
<div th:object="${post}">
    <h1 th:text="${post.getUser().getFirstName() + ' ' + post.getUser().getMiddleName() + ' ' + post.getUser().getLastName()}"></h1>
    <div th:text="${post.getPosition()}" id="position"></div>
    <hr>
    <div th:text="${'Age: '+ post.getUser().getAge()}" id="age"></div>
    <hr>
    <div>
        <h2>Education</h2>
        <div th:text="${post.getEducation()}" class="text" id="education"></div>
        <hr>
        <h2>Work Experience</h2>
        <div th:text="${post.getWorkExperience()}" class="text" id="work_experience"></div>
        <hr>
        <h2>About Me</h2>
        <div th:text="${post.getAboutMe()}" class="text" id="#about_me"></div>
    <hr>
    <div class="contacts_container">
        <h3>Contacts</h3>
        <div class="contact" th:text="${'Phone number: ' + post.getUser().getPhoneNumber()}"></div>
        <div class="contact" th:text="${'Email: ' + post.getUser().getEmail()}"></div>
    </div>
</div>
<div class="row" th:if="${isAuthor}">
    <div class="col-md-6 col-md-offset-3">
        <form action="#" th:object="${post}" th:action="@{'/deletePost'}" th:method="delete" class="form-horizontal">
            <div class="form-group">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>